breathe==5.0.0
sphinx==9.1.0
jinja2==3.1.6
# https://github.com/sphinx-doc/sphinx/issues/9923
docutils==0.22
# Pin versions to avoid a compatibility issue: "The sphinxcontrib.<extension_name> extension used by this project needs at least Sphinx v5.0"
sphinxcontrib_applehelp==2.0.0
sphinxcontrib_devhelp==2.0.0
sphinxcontrib_htmlhelp==2.1.0
sphinxcontrib_qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0

sphinx_book_theme==1.4.0
sphinx-intl==2.0.0
sphinx-tabs==3.5.0
sphinx-prompt==1.10.2
sphinx_substitution_extensions==2026.8.13.1
